
.banner__container {
    /* height: 60vh; */
    max-height: 100vh;
    background-color: black;
    position: relative;
}

.banner__image {
    display: flex;
    justify-content: center;
}

.banner__image img {
    padding-top: 40px;
    object-fit: cover;
    vertical-align: bottom;
    height: 90%;
    width: 90%;
    /* height: 100%;
    width: 100%; */
    /* width:  */
}

.banner__message {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.banner__message > p {
    color: white;
    font-size: 30px;
}