.city__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    padding: 20px 80px 0px 80px;
    color: black;
}

.tile__container {
    display: flex;
    padding: 20px 80px 10px 80px; 
}

.tile__title {
    font-size: 32px;
    padding: 40px 90px 0px 90px;
}