.tile__card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    color: black;
}

.tile__card:hover {
  transform: scale(1.07);
}

.tile__card > img {
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;
}

.tile__info {
    margin-top: -4px;
    border-radius: 10px;
    padding: 20px;
    border: 1;
}

/* .tile__info * {
    text-decoration: none;
} */

.tile__info > h2 {
    font-size: 18px;
    font-weight: 600;
}

.tile__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 18px;
}