.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 464px;
    width: 528px;
}

.error__validation {
    padding-left: 10px;
    font-style: italic;
}

.form__container {
    height: 400px;
    width: 484px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px;
}

.form__container > h2 {
    font-size: 22px;
}

.form__container input {
    box-sizing: border-box;
    height: 54px;
    outline-width: 0.5px;
    outline-color: black;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.438);
}

input::placeholder {
    font-size: 18px;
}

.login__buttons {
    background-color: #FF385C;
    color: white;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
}

.login__buttons:hover {
    background-color: #e60730;
    cursor: pointer;
}

#signup__link > button {
    border: none;
    background-color: white;
    font-size: 14px;
    color: #222222;
    font-weight: bold;
}

#signup__link > button:hover {
    text-decoration: underline;
}

.signup__link {
    font-size: 14px;
}